{% extends 'layout.html' %}

{% block head %}
    <title>About</title>
    <style>
        p
        {
            color: white;
            font-family: 'Roboto';
            font-weight: normal !important;
            
        }
        .blue
        {
            color: #79ff58;
        }
        .red
        {
            color: #fffb00;
        }
        .yellow
        {
            color: #ff9797;
        }
        .green
        {
            color: #00e1ff;
        }
        * p{
            color:black;
            font-family: 'Rancho'
        }
    </style>
{% endblock %}

{% block body %}

    <div>
        
        <div style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); margin:auto;text-align:center; align-items:flex-end; position:absolute; bottom:0;" >
            <hr class="hr">
            <p>
                <span style="font-family:Righteous;">Praise</span><br> <span style="z-index:1;font-family: 'Rancho'; font-weight: 600; font-size:xx-large; font-family:righteous;"><span style="margin-right:5rem; font-size:50px;">꧁ღ</span><span style="font-size:70px;">יהוה</span><span style="margin-left:5rem;  font-size:50px;">ღ꧂</span></span>
                <hr class="hr"> 
                <br><br><br><br><br><br>
            </p>            
            <hr class="hr">
            <p style=" font-family: Tahoma; font-weight:100 !important; ">This website was made as a final-project for HarvardX CS50 online course which was offered through EDx. This is CS50!
            </p>
            <hr class="hr">
            <p>
                Email: dagtef2@gmail.com <br>
                Telegram: @dagweg <br>
                Instagram: dagweg7
            </p>
            <hr class="hr ">
            <p>
                &#169 2022 WordNerd&#8482 made by <span style="font-family: 'Tahoma'; ">Dagmawi Wegayehu. </span>All rights reserved.
            </p>
        </div>
    </div>
    
    

{% endblock %}